body {
  background-color: #30343F;
}

.header-area {
  background-image: url('/../public/images/background-img.png');
}

.app-title {
  text-align: center;
  color: #FAFAFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 38px;
}
